/**
 * Fix prestashop input[type="number"] style
 */

.bootstrap input[type="number"]
{
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bbcdd2;
    border-radius: 4px;
}